

<div class="positionBanner">

    <img class="commande" src="assets/Images/allcategories_banner.png" alt="">
    <h2 class="positionTitre">Votre commande est validée !</h2>


</div>

<div class="recapitulatif">
    <p>Récapitulatif de votre commande</p>


</div>
<br>
<div class="informations-client">

    <h3>Client</h3>
    <p>Nom: </p>
    <p>Prénom: </p>
    <p>Mail: </p>
    <p>Téléphone: </p>

    <br>

    <h3>Informations de livraison</h3>
    <p>Nom: </p>
    <p>Prénom: </p>
    <p>Adresse:</p>
    <p>Compléments d'adresse: </p>
    <p>Code postal: </p>
    <p>Ville: </p>

</div>

<br>
<br>
<br>
<p class="merci"><img src="assets/Images/logo/JAC_logo.png" alt="logo-boutique-JAC" width="150px"> vous remercie pour votre commande et espère vous revoir prochainement !</p>

