
<h2>Votre commande est validée !</h2>

<div class="recapitulatif">
    <p>Récapitulatif de votre commande numéro #</p>


</div>

<div class="informations-client">
    <p>Rappel de vos informations</p>

    <h3>Informations du Client</h3>
    <p>Nom: {{ this.coordonneesForm.value }}</p>
    <p>Prénom: {{ this.coordonneesForm.value }}</p>
    <p>Mail: {{ this.coordonneesForm.value }}</p>
    <p> Téléphone: {{ this.coordonneesForm.value }}</p>

    <h3>Informations de livraison</h3>
    <p>Nom: {{ this.billingForm.value }}</p>
    <p>Prénom: {{ this.billingForm.value }}</p>
    <p>Adresse: {{ this.billingForm.value }}</p>
    <p>Compléments d'adresse: {{ this.billingForm.value }}</p>
    <p>Code postal: {{ this.billingForm.value }}</p>
    <p>Ville: {{ this.billingForm.value }}</p>




</div>









<p><img src="assets/Images/logo/JAC_logo.png" alt="logo-boutique-JAC" width="150px"> vous remercie pour votre commande et espère vous revoir prochainement !</p>

