<main>


<app-cart></app-cart>


<div id="livraison flex">

    <h2>LIVRAISON</h2>

    <form class="modalites">
        <div class="domicile">
            <input id="checkbox-livraison" type="checkbox">
            <label type="text">A domicile</label>
        </div>
        <div class="relais">
            <input id="checkbox-livraison" type="checkbox">
            <label type="text">Point relais</label>
        </div>
    </form>
</div>



<div id="promo-total">
    <div class="code-promo">
        <h2>CODE PROMO</h2>
        <form class="flex">
            <input type="text">
            <button type="submit" class="violet">APPLIQUER</button>
        </form>
    </div>

    <hr>

    <div id="montant-panier">
        <table>
            <tbody>
                <tr>
                    <td>Sous-total</td>
                    <td class="violet">{{ this.basketService.basketTotalPrice}} €</td>
                </tr>
                <tr>
                    <td>Livraison</td>
                    <td class="violet">0 €</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td class="violet">{{ this.basketService.basketTotalPrice}} €</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="commander-shopper">
        <a routerLink="/payment">
            <button class="bouton-commander violet">COMMANDER</button>
        </a>
        <a routerLink="/category-products">Continuez à shopper</a>
    </div>

</div>

</main>