
<main>

<section id="panier-livraison" class="flex">
    <div id="bloc-panier">
        <h2>MON PANIER</h2>

        <div class="sous-bloc-panier flex">
            <ul>
                <li *ngFor="let basketProduct of basket; let index = index">
                    <article class="flex">
                        <img src="{{basketProduct.product.image }}" alt="{{ basketProduct.product.title}}" width="150px">
                        <div class="bloc-description-prix flex column">
                            <div class="description-article">
                                <h3>
                                    {{ basketProduct.product.title}} - {{ basketProduct.product.price}}€
                                </h3>
                                <br>
                                <p>{{ basketProduct.product.description}}</p>
                            </div>


                            <!-- partie prix et bouton supprimer -->
                            <div class="prix">
                                <p>prix quantite total</p>
                                <br>
                                <button (click)="removeProduct(index)">Supprimer</button>
                            </div>
                        </div>

                    </article>
                </li>
            </ul>
        </div>


        <div id="bloc-livraison flex">

            <h2>LIVRAISON</h2>
            <div class="sous-bloc-livraison flex">


                <div class="flex column">
                    <form class="modalites flex">
                        <div class="domicile">
                            <input class="checkbox-livraison" type="checkbox">
                            <label type="text">A domicile</label>
                        </div>
                        <br>
                        <div class="relais">
                            <input class="checkbox-livraison" type="checkbox">
                            <label type="text">Point relais</label>
                        </div>
                    </form>
                </div>
                <div class="commander-shopper flex">
                    <a routerLink="/payment">
                        <button class="bouton-commander violet">COMMANDER</button>
                    </a>
                    <br>
                    <a routerLink="/category-products">Continuez à shopper</a>
                </div>
            </div>

        </div>
    </div>
</section>

<div id="promo-total">
    <div class="code-promo">
        <h2>CODE PROMO</h2>
        <form class="flex">
            <input type="text">
            <button type="submit" class="violet">APPLIQUER</button>
        </form>
    </div>

    <hr>

    <div id="montant-panier">
        <table>
            <tbody>
                <tr>
                    <td>Sous-total</td>
                    <td class="violet">125€</td>
                </tr>
                <tr>
                    <td>Livraison</td>
                    <td class="violet">10€</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td class="violet">135€</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

</main>