* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
img {
    max-width: 100%;
    display: block;
    height: 500px;
}
.minature{
    width:90px;
    height:90px;
}
section{
    /* border:black 3px solid; */
    width: min(1500px, 100%);
    margin: 60px auto;
    height:600px;
    box-shadow: 5px 5px 90px gray;
    display: flex;
    
    
}
.containerGlobal{
    /* width: min(1500px, 100%); */
    display:flex;
    gap:20px;
}
.event{
    display:flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
.containerImages{
    /* border: red 2px solid; */
    width:40%;
    display:flex;
    margin-top: 6vh;
    justify-content: center;
    gap:20px;
    position:relative;
}
.wishlist {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 20px;
    right: 78px;
}
.modelSize{
    /* border : blue solid 2px; */
    display:flex;
    gap:20px;
}
.description{
    /* border:orange solid 2px; */
    width:60%;
    display:flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
}
section>div{
    display:flex;
}
.imgMiniature{
    margin-right: 20px;
    display:flex;
    flex-direction: column;
    gap:10px;
}
.containerImages{
    display:flex;
}
button{
    background-color: #7461CC;
    width: 190px;
    height: 50px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer; 
    border:none;
    border-radius: 10px;
}
button:hover{
    background-color: #32C4F6;
}
/* je veux entre 1150px et 1380px les minatures soient en bas de l'image principale*/
@media (min-width:1150px) and (max-width:1380px)  {
    .containerImages{
        flex-direction: column-reverse;
        justify-content: center;
        margin-top:0px;
    }
    .imgMiniature{
        flex-direction: row;
        justify-content: center;
    }
    img{
        width:450px;
        height:400px;
    }
    .wishlist{
        top:51px;
        right:90px;
    }
}
/* je veux de 681px à 1149px le boc description se retrouve en dessous de l'image et des ses miniature */
@media (min-width:682px) and (max-width:1149px) {
    .containerImages{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top:30px;
        width: 100%;
    }
    .imgMiniature{
        flex-direction: row;
        justify-content: center;
    }
    img{
        width:450px;
        height:400px;
    }
    .wishlist{
        top:51px;
        right:90px;
    }
    section{
        height:103vh;
    }
    .containerGlobal{
        flex-direction: column;
    }
  .description{
    padding: 20px 20px;
    width:100%;
  }
}
@media (max-width:681px){
    section{
        height:102vh;
    }
    .containerImages{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top:0px;
        width: 100%;
    }
    .imgMiniature{
        flex-direction: row;
        justify-content: center;
    }
    img{
        width:450px;
        height:400px;
    }
    .wishlist{
        top:51px;
        right:90px;
    }
  
    .containerGlobal{
        flex-direction: column;
    }
  .description{
    padding: 20px 20px;
    width:100%;
  }
}