/*  mise en forme des blocs formulaires et panier*/

.flex {
display: flex;
justify-content: center;
}
h3 {
    text-align : center;
    margin-top: 60px;
    margin-bottom: 100px;
}

app-payment-form {
    margin-top: 20px;
}
